{% extends "base.html" %}
{% block content %}
    <h2>Post detail</h2>
    {{ object.instance.pk }}
    <p>Post: <strong>{{ post.title }}</strong><br>
        Author: <strong>{{ post.user }}</strong><br>
        <strong>{{ post.created_date }}</strong></p>
    <p>{{ post.text }}</p>
    <h2>Comments</h2>
    {% for a in comment %}
    <p>{{ a.username }}<br>
        {{ a.text }}</p>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if comment.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comment.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comment.number }} of {{ comment.paginator.num_pages }}.
        </span>

        {% if comment.has_next %}
            <a href="?page={{ comment.next_page_number }}">next</a>
            <a href="?page={{ comment.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        <p><a href='{% url "blog:comment_add" pk=post.id %}'>Add comment</a></p>

{% endblock %}
