<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}Local Library{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">



    <!-- Add additional CSS in static file -->

</head>
<body>
{% block sidebar %}
    {% if user.is_authenticated %}
    <h5>User: {{ user.get_username }}</h5>

    {% else %}
    <li><a href="{% url 'user_management:login' %}?next={{ request.path }}">Login</a></li>
    <li><a href="{% url 'user_management:registration' %}?next={{ request.path }}">Registration</a></li>
    {% endif %}
    </ul>
{% endblock %}
{% block content %}{% endblock %}


</div>
</body>
</html>